extends layout

block content
    div(class='row')
        div(class='col-md-10 order-lg-1 order-xl-1 order-md-12 order-sm-12 order-xs-12 content')
            ul(class='listing')
                each comic in comics
                    li
                        a(href=comic.url, class='listing') #{comic.title}
                        p !{comic.author}
                    hr(class='my-4')

        div(class='col-md-2 order-lg-2 order-xl-2 order-md-1 order-sm-1 order-xs-1')
            form(id='sortcomics', action='/comics/list', method='get')
                div(class='form-group')
                    label(for='sorting') Sort comics by:
                    select(id='sorting', class='form-control', name='sorting')
                        option(value='title') Title
                        option(value='author') Author
                button(type='submit', class='btn btn-primary') Sort!