extends layout

block content

  h1 Comics with tag: #[strong #{tag.name}]
  
  div(style='margin-left:20px;margin-top:20px')
    
    dl
    each comic in tag_comics
      dt 
        a(href=comic.url) #{comic.title}
      dd #{comic.description}

    else
      p This tag has no comics
  hr
  