body {
  background-image: url("../assets/giftly.png");
  background-repeat: repeat;
}



#top-banner {
  background-image: url("../assets/science.png");
  background-repeat: repeat;
}

#top-banner > .lead, .display-1 {
  color: #f7f2ef
}

#navigation {
  background-color: #f25602;
}
