body {
  background-image: url("../assets/giftly.png");
  background-repeat: repeat;
}

#top-banner {
  background-image: url("../assets/science.png");
  background-repeat: repeat;
  margin-top: 10px;
}

#top-banner > .lead, .display-1 {
  color: #f7f2ef
}

#navigation {
  background-color: #f25602;
}

.form-group > input, .form-group > textarea {
  max-width: 500px;
}

.content {
  border-radius: 10px;
  background-color: rgba(252, 241, 227, 0.6);
  min-height: 100vh;
  padding-top: 10px;
}

ul.listing {
  list-style-type: none;
}

a.listing {
  text-decoration: none;
}

.clearBoth {
  clear:both;
}

.comicRating {
  width: 100%;
  position: absolute;
}

.comicRating > div > span {
  font-size: 2em;
}

.area {
  width: 40%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  align-content: flex-start;
}

.carea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  align-content: flex-start;
  background-image: url("../assets/giftly.png");
  background-repeat: repeat;
 }
